<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Sensor Ring Test Program</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>


    <header>
        <H1>Sensor Ring Test Program</H1>
        <H2>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/Start">Start Test</a>
            <a href="/data">View Data</a>
            <a href="/Edit">Edit Database</a>
            <a href="/Info">Info</a>
          </div> 
        </H2>
    </header>
    <body>
        

	<h3>
        <div class="PHdr">Sensor Ring Test Program Functions </div><br><br>
        
        <txtbody>
            Start Test: 
        </txtbody> 

        <div class="a">
            To perform a test click on the start test tab. Enter the serial number of the sensor
            ring and then click start test.<br>The test will begin and once complete the results will be displayed
            along with if it passed or failed.
        </div>

        <br><br>

        <txtbody>
            View Data: 
        </txtbody>

        <div class="a">
            This will display the data from every completed test. The search function allows all results to be
            displayed <br> based on the serial number. All data in the database is saved to the local PC.
        </div>
        <br><br>
        <txtbody>
            Edit Database: 
        </txtbody>
        <div class="a">
            If needed data can be manually entered into the database or a previous test can be edited. Based on the data that is entered<br>
            it will determine if the sensor passed or failed.
        </div>

        <br><br>
        <txtbody>
            Info: 
        </txtbody>
        <div class="a">
            Information about the fixture, test parameters, etc.
        </div>
        <br>

        <br>



	
	</h3>
    </body>
</html>
