<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Sensor Ring Test Program</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>


    <header>
        <H1>Sensor Ring Test Program</H1>
        <H2>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/Start">Start Test</a>
            <a href="/data">View Data</a>
            <a href="/manualAddDataForm">Edit Database</a>
            <a href="#about">Set/Reset Database</a>
          </div> 
        </H2>
    </header>
    <body>
        

	<h3>
	Note: The database for this program is STORED LOCALLY <br>
	
	</h3>
    </body>
</html>
