<!DOCTYPE html>

<html>
    <head>
        <title>Sensor Ring Test Program</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="logout-bar">
        {% if current_user.is_authenticated %}
            <a href="/logout">Logout ({{ current_user.username }})</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
        </div>
        <h1>Sensor Ring Test Program</h1>

        <h2>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/Start">Start Test</a>
            <a class="active" href="/data">View Data</a>
            <a href="/Edit">Edit Database</a>
            <a href="/Info">Info</a>
          </div> 
        </h2>

        <h3>
        <div class="VD">All Results for Serial #: {{ SerialNum }}  </div> <br>

            <div><h5>
                <div class="d">
                    <table>
                        <thead>
                            <tr>
                                <th>Test #</th>
                                <th>User</th>
                                <th>Serial #</th>
                                <th>Timestamp</th>
                                <th>AX+ (V)</th>
                                <th>AX- (V)</th>
                                <th>FX+ (V)</th>
                                <th>FX- (V)</th>
                                <th>FY+ (V)</th>
                                <th>FY- (V)</th>
                                <th>Pass/Fail</th>
            
                            </tr>
                        </thead>
                    </table>
                </div>
    
    
    
    
    
            <div class="scroll">
            <table>
    
                {% for item in results %}
                <tr>
                    <td>{{ item.TestN }}</td>
                    <td>{{ search_logs.get(item.id, 'Unknown') }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.TimeS }}</td>
                    <td>{{ item.AXP }}</td>
                    <td>{{ item.AXN }}</td>
                    <td>{{ item.FXP }}</td>
                    <td>{{ item.FXN }}</td>
                    <td>{{ item.FYP }}</td>
                    <td>{{ item.FYN }}</td>
                    <td>{{ item.pf }}</td>
                    
                </tr>
                {% endfor %}
            
               
            </table>
            <br><br>
            <round><a href ="/data" style = "text-decoration: none; color:white;">Return to All Data</a> </round>
            </div>
            
        </h5></div>
            
           
        </h3>
    </body>
</html>