<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Start Test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>

        <h1>Sensor Ring Test Program</h1>
        <h2>        
            <div class="topnav">
            <a href="/">Home</a>
            <a class="active" href="/Start">Start Test</a>
            <a href="/data">View Data</a>
            <a href="/Edit">Edit Database</a>
            <a href="/Info">Info</a>
          </div> </h2>

        <H3>
            
            <div class="hdr"> Enter in Serial Number Below</div> <br>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.SerialNum.label }} {{ form.SerialNum() }}
                {% if form.SerialNum.errors %}
                    <ul>
                        {% for error in form.SerialNum.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.submit() }}
            </form>
            <br>
            <br>
            <div class="hdr"> Change COM Port</div>    
            <br>
            <form method="POST">
                {{ Comform.hidden_tag() }}
                {{ Comform.COM.label }} {{ Comform.COM() }}
                {% if Comform.COM.errors %}
                    <ul>
                        {% for error in Comform.Com.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ Comform.submit() }}
            </form>

            <div class="smalltext">
                Use format "COM#"
            </div>
            <br>
            <div class="hdr"> Enter X, Y or Z to test motors</div> <br>
            <form method="POST">
                {{ form1.hidden_tag() }}
                {{ form1.Axis.label }} {{ form1.Axis() }}
                {% if form1.Axis.errors %}
                    <ul>
                        {% for error in form1.Axis.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form1.submit() }}
            </form>

        </H3> 
    </body>
</html>