<!DOCTYPE html>

<html>
    <head>
        <title>Sensor Ring Test Data</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Test data for {{SerialNo}}</h1>

        <h2>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/Start">Start Test</a>
            <a class="active" href="/data">View Data</a>
            <a href="/Edit">Edit Database</a>
            <a href="#about">Set/Reset Database</a>
          </div> 
        </h2>

        <h3>
        <table border=1>
            <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Timestamp</th>
                    <th>AX+ (V)</th>
                    <th>AX- (V)</th>
                    <th>FX+ (V)</th>
		            <th>FX- (V)</th>
                    <th>FY+ (V)</th>
                    <th>FY- (V)</th>
                    <th>X displacement (mm)</th>
                    <th>Y displacement (mm)</th>
                    <th>Z displacement (mm)</th>
                    <th>Sensitivity (V/mm)</th>
                </tr>
            </thead>

            {% for item in users %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.TimeS }}</td>
                <td>{{ item.x_dis }}</td>
                
            </tr>
            {% endfor %}
        
                
        </table>

        </h3>
    </body>
</html>
